body {
    background-color: rgba(75, 12, 63, 1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: fit-content;
}

.logo {
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

.title {
    color: rgba(75, 12, 63, 1);
    font-weight: 700;
}

.form {

    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 60px;
    color: rgb(0, 0, 0);
}

.options {
    background-color: aquamarine;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons .button {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    font-size: larger;
    font-style: bolder !important;
}

.footer {
    width: 100%;
    background-color: black;
    height: 150px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.social a {
    font-size: larger;
    margin-left: 10px;
}

small {
    margin-top: 15px;
}

@media screen and (min-width: 300px) {
    .footer {

        position: absolute;
        bottom: 0;

    }
